body {
  max-height:100vh;
  overflow: hidden;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  color: white;
}


#main {
  color:white;
}
#message {
  color: whitesmoke;
  overflow: auto;
  max-height: 45vh;
} 
#form {
  padding:3%;
}
#handleField {
  color:whitesmoke;
  font-family: 'Courier New', Courier, 'monospace';
}
#messageField {
  color:whitesmoke;
}
::-webkit-scrollbar {
  width:15px;
}
::-webkit-scrollbar-thumb {
  background:#9c59ca;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #9c59ca;
  border-radius: 10px;
}






@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
